@inherits LayoutComponentBase
<PageTitle>BsSnake.Server</PageTitle>

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="/Documentation" target="_blank">Dokumentace</a>
            <span>Verze z 24.3.2023 11:05</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
