@page "/Documentation"
<h3>Dokumentace</h3>
<h4>Ukázka JSON requestu</h4>
<pre>
<code>
{
  "board": {
    "height": 12,
    "width": 12,
    "food": [
      {
        "x": 9,
        "y": 11
      },
      {
        "x": 11,
        "y": 9
      }
    ],
    "obstacles": [],
    "snakes": [
      {
        "id": "f4a8d523-4057-48a7-b1dd-c827b4dbc82f",
        "name": "BsSnake0",
        "url": "http://localhost:6001/snake/0/",
        "head": {
          "x": 7,
          "y": 6
        },
        "body": [],
        "length": 1,
        "energy": 78,
        "alive": true,
        "color": "#ff0000",
        "latency": 24,
        "deathCause": null,
        "deathIteration": null
      },
      {
        "id": "4ac4bec8-ffb1-4877-9f05-8b53671bea17",
        "name": "BsSnake1",
        "url": "http://localhost:6001/snake/1/",
        "head": {
          "x": 7,
          "y": 2
        },
        "body": [
          {
            "x": 4,
            "y": 2
          },
          {
            "x": 5,
            "y": 2
          },
          {
            "x": 6,
            "y": 2
          }
        ],
        "length": 4,
        "energy": 108,
        "alive": true,
        "color": "#00ff00",
        "latency": 28,
        "deathCause": null,
        "deathIteration": null
      }
    ]
  },
  "iterations": 22
}
</code>
</pre>

@code {

}
